body 
{
    background-color: #636263;
}

p
{
    color: white;
    font-size: medium;
}

article ul
{
    padding-left: 20px;
}

article li, section li
{
    color: white;
    margin-bottom:10px;
    font-size: medium;
}

@media (min-width: 768px){
    article img.inset 
    {
        float: right;
        padding-left: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 767px){
    article img.inset 
    {
        float: none;
        padding-bottom: 15px;
    }
    
    article div.inset
    {
        text-align: center;
    }
}

@media (min-width: 768px) {
  .container-fluid {
    width: 970px;
    }
} 

header[role="banner"] {
  #logo-main {
    display: block;
    margin: 20px auto;
  }
}


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

@media (min-width: 768px){
    .navbar-brand {
        display: none;
    }
}

header 
{
    background-color: #636263;
    text-align: center;
}

div.navbar-header 
{
    background-color: #444444;
}

.navbar
{
    background-color: #444444;
    border: 0px;
}



.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus 
{
    color: white;
    background-color: #444444;
}

.navbar-default .navbar-nav > li > a
{
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus 
{
    color: white;
    background-color: #444444;
}

h1
{
    font-size: 20pt;
    color: white;
}

hr
{
    border-color: #FAEF2D;
}

aside
{
    min-height: 400px;
    background-color: #444444;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

aside h1
{
    text-align:center;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: bold;
    color: #FAEF2D;
    margin-bottom: 20px;
    margin-top: 25px;
}

aside a,
aside a:hover,
aside a:focus,
aside a:visited
{
    color: White;
}

aside p.email
{
    text-align: center;
}

aside div.social-media-icons
{
    text-align: center;
   
}

aside div.social-media-icons img
{
    /*display:inline-block;*/
    width: 40px;
    height: 40px;
    
    vertical-align: baseline;
}