
header[role="banner"] {
  #logo-main {
    display: block;
    margin: 20px auto;
  }
}


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

@media (min-width: 768px){
    .navbar-brand {
        display: none;
    }
}

 /* #navbar-primary .navbar-nav { 

  width: 100%;
  text-align: center;
> li {
    display: inline-block;
    float: none;
    > a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}*/




/*
div.header 
{
    background-color: #636263;
    text-align: center;
}*/
header 
{
    background-color: #636263;
    text-align: center;
}

div.navbar-header 
{
    background-color: #444444;
}

.navbar
{
    background-color: #444444;
    border: 0px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus 
{
    color: #555;
    background-color: #444444;
}