body 
{
    background-color: #636263;
}

p
{
    color: white;
}

@media (min-width: 768px) {
  .container-fluid {
    width: 970px;
    }
} 

header[role="banner"] {
  #logo-main {
    display: block;
    margin: 20px auto;
  }
}

/*section 
{
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
}*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

@media (min-width: 768px){
    .navbar-brand {
        display: none;
    }
}

 /* #navbar-primary .navbar-nav { 

  width: 100%;
  text-align: center;
> li {
    display: inline-block;
    float: none;
    > a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}*/




/*
div.header 
{
    background-color: #636263;
    text-align: center;
}*/
header 
{
    background-color: #636263;
    text-align: center;
}

div.navbar-header 
{
    background-color: #444444;
}

.navbar
{
    background-color: #444444;
    border: 0px;
}



.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus 
{
    color: #ddd;
    background-color: #444444;
}

.navbar-default .navbar-nav > li > a
{
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus 
{
    color: #ddd;
    background-color: #444444;
}

.contact-aside 
{
    min-height: 400px;
    background-color: #444444;
    /* border: 1px solid #ddd; */
    /* background-color: #636263; */
}