Options -MultiViews
RewriteEngine On
RewriteRule ^software-developer-contractor-and-bespoke-software-solutions$ /home.php [QSA,L]
RewriteRule ^software-developer-contractor$ /contractingdeveloper.php [QSA,L]
RewriteRule ^bespoke-software-development$ /bespokesoftware.php [QSA,L]

